<html>
    <body>
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 
 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% if latest_commands %}

    {% for command in latest_commands %}
    <div class="card-small">
        {% if command.exitcode == 0 %}
        <span class="blue-text text-darken-2">
                {% else %}
        <span class="red-text text-darken-2">
        {% endif %}
    <pre>({{command.timestamp|date:"d-m-Y-h:m:s"}}-UTC) {{command.username }}@{{command.hostname}}:{{command.cwd}}# {{command.command}}  [<a href="/history/{{ command.id }}/">details</a>]</pre>
</span>
</div>
    {% endfor %}

{% else %}
    <p>No Commands are available.</p>
{% endif %}
</body>
</html> 